<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>[[title]]</title>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/page1.css">

</head>

<body style="width: 960px;height: 540px">
<div id="subpage1_2" class="container-fluid up">
  <div class="row">
    <div class="col-lg-12 col-sm-12 up-right">
      <!--订单业务用户数-->
      <div class="col-lg-12 col-sm-6 orders">
        <h2 class="text-center">
          <img src="/img/page1/page1_03.png" alt="icon">
          订单业务用户数
          <hr/>
        </h2>
        <div class="text-center Width_50 Left">
          <img src="/img/page1/page1_10.png" alt="">
          <h3>装机数</h3>
          <h1 class="number-text">564601</h1>
        </div>
        <div class="text-center Width_50 Left">
          <img src="/img/page1/page1_12.png" alt="">
          <h3>拆机数</h3>
          <h1 class="number-text">12345</h1>
        </div>
      </div>
      <!--//订单业务用户数-->
      <!--光网端口覆盖率-->
      <div class="col-lg-6 col-sm-6 light-network text-center">
        <h2 class="text-center">
          <img src="/img/page1/page1_05.png" alt="icon">
          光网端口覆盖率
          <hr/>
        </h2>
        <div id="js-light-network"></div>
      </div>
      <!--//光网端口覆盖率-->
    </div>
  </div>
</div>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/echarts/echarts.js"></script>
<script src="lib/requirejs/require.js"></script>
<script src="js/page1.js"></script>
</body>
</html>
