<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>[[title]]</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/page3.css">
</head>

<body style="width: 960px;height: 540px">
<div id="subpage3_1" class="container-fluid">
    <div class="row">
        <!--移动业务数-->
        <div class="col-sm-12 component-6 mobile-business">
            <div class="col-lg-12 Width_100">
                <!--<span>img</span>-->
                <img src="img/page3/page3_03.png" alt="">
                <h2>移动业务数</h2>
            </div>
            <!--<div class="col-lg-12">-->
            <div class="col-lg-6 Width_50 phone-sms-flow clearfix">
                <ul>
                    <li class="list-inline">
                        <img src="img/page3/page3_11.png" alt="">
                        <h3>语音 | 5649 <small>分钟</small></h3>
                    </li>
                    <li class="list-inline">
                        <img src="img/page3/page3_15.png" alt="">
                        <h3>语音 | 5649 <small>分钟</small></h3>

                    </li>
                    <li class="list-inline">
                        <img src="img/page3/page3_18.png" alt="">
                        <h3>语音 | 5649 <small>分钟</small></h3>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 Width_50 Left open-user-chart">
                <div id="js-mobil-open-user"></div>
            </div>
            <!--</div>-->
            <div class="col-lg-12 Width_100 Left timeline">
					<span class="text-center">
						<h4>
                            2015
                        </h4>
					</span>
                <ul class="list-inline text-center">
                    <li>1月</li>
                    <li>2月</li>
                    <li>3月</li>
                    <li>4月</li>
                    <li>5月</li>
                    <li>6月</li>
                    <li>7月</li>
                    <li>8月</li>
                    <li>9月</li>
                    <li>10月</li>
                    <li>11月</li>
                    <li>12月</li>
                </ul>
            </div>
        </div>
        <!--//移动业务数-->
    </div>
</div>
</div>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/echarts/echarts-all.js"></script>
<script src="lib/requirejs/require.js"></script>
<script src="js/page3.js"></script>
</body>

</html>