.Width_100 {
  width: 100%;
}
.Width_75 {
  width: 75%;
}
.Width_50 {
  width: 50%;
}
.Width_33 {
  width: 33.3%;
}
.Width_16 {
  width: 16.66666667%;
}
.Width_25 {
  width: 25%;
}
.Width_83 {
  width: 83.33333333%;
}
.Left {
  float: left;
}
.Right {
  float: right;
}
.TextCenter {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  border: none;
}
#bigPage {
  position: relative;
  width: 1920px;
  height: 1080px;
}
#bigPage iframe {
  width: 960px;
  height: 540px;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
}
#bigPage > iframe:nth-of-type(1) {
  top: 0;
  left: 0;
}
#bigPage > iframe:nth-of-type(2) {
  top: 0;
  right: 0;
}
#bigPage > iframe:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
#bigPage > iframe:nth-of-type(4) {
  bottom: 0;
  right: 0;
}
