.Width_75 {
  width: 75%;
}
.Width_50 {
  width: 50%;
}
.Width_33 {
  width: 33.3%;
}
.Width_16 {
  width: 16.66666667%;
}
.Width_25 {
  width: 25%;
}
.Width_83 {
  width: 83.33333333%;
}
.Left {
  float: left;
}
.Right {
  float: right;
}
.TextCenter {
  text-align: center;
}
