.Width_100 {
  width: 100%;
}
.Width_75 {
  width: 75%;
}
.Width_50 {
  width: 50%;
}
.Width_33 {
  width: 33.3%;
}
.Width_16 {
  width: 16.66666667%;
}
.Width_25 {
  width: 25%;
}
.Width_83 {
  width: 83.33333333%;
}
.Left {
  float: left;
}
.Right {
  float: right;
}
.TextCenter {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  border: none;
}
#bigPage {
  position: relative;
  width: 1920px;
  height: 1080px;
}
#bigPage iframe {
  width: 960px;
  height: 540px;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
}
#bigPage > iframe:nth-of-type(1) {
  top: 0;
  left: 0;
}
#bigPage > iframe:nth-of-type(2) {
  top: 0;
  right: 0;
}
#bigPage > iframe:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
#bigPage > iframe:nth-of-type(4) {
  bottom: 0;
  right: 0;
}
* {
  font-family: "Microsoft YaHei";
}
.number-text {
  color: #e9d13a;
}
hr {
  border-color: #0ca19b;
}
body {
  color: #1da9a6;
  background-image: url("/img/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
body .container-fluid {
  height: 540px;
}
body .container-fluid .row {
  padding-top: 15px;
}
body .container-fluid .earning .col-lg-12:nth-of-type(1) h2 {
  margin-top: -44px;
  margin-left: 90px;
  padding: 5px;
  border-bottom: 2px solid #0ca19b;
}
body .container-fluid .earning .col-lg-12:nth-of-type(2) {
  height: 300px;
}
body .container-fluid .order-earning .col-lg-12:first-of-type h3 {
  padding-bottom: 5px;
  border-bottom: 2px solid #0ca19b;
}
body .container-fluid .order-earning .col-lg-12:first-of-type span {
  padding: 0 15px;
}
body .container-fluid .cost-earning .col-lg-12:nth-of-type(1) h3 {
  padding-bottom: 5px;
  border-bottom: 2px solid #0ca19b;
}
body .container-fluid .cost-earning .col-lg-12:nth-of-type(1) span {
  padding: 0 15px;
}
body .container-fluid .remuneration-earning .col-lg-12:nth-of-type(1) h3 {
  padding-bottom: 5px;
  border-bottom: 2px solid #0ca19b;
}
body .container-fluid .remuneration-earning .col-lg-12:nth-of-type(1) span {
  padding: 0 15px;
}
#js-earning {
  height: 380px;
}
#js-order-earning {
  height: 380px;
}
#js-cost-earning {
  height: 380px;
}
#js-remuneration-earning {
  height: 380px;
}
