<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>[[title]]</title>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/page2.css">
</head>

<body style="width: 960px;height: 540px">
<div id="subpage2_2" class="container-fluid">
  <!--宽带订单业务数-->
  <div class="col-sm-12 component-6 network-order">
    <div class="row">
      <h3>
        <span></span>
        宽带订单业务数
        <span></span>
        <small>2015.12.31</small>
      </h3>
    </div>
    <div class="row chart">
      <div id="js-network-order-select"></div>
    </div>
    <div class="row chart">
      <div id="js-network-order-deselect"></div>
    </div>
  </div>
  <!--//宽带订单业务数-->
</div>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/echarts/echarts-all.js"></script>
<script src="lib/requirejs/require.js"></script>
<script src="js/page2.js"></script>
</body>

</html>
