<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>[[title]]</title>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/page5.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<!--客服业务总汇-->
			<div class="col-lg-6 component-6 service-business">
				<div class="col-lg-12">
					<!--<span>img</span>-->
					<img src="img/page3/page3_03.png" alt="">
					<h2>客服业务总汇</h2>
				</div>
				<div class="col-lg-12">
					<div id="js-service-business"></div>
				</div>
			</div>
			<!--//客服业务总汇-->
			<!--移动业务量-->
			<div class="col-lg-6 component-6 service-mobile-business clearfix">
				<div class="col-lg-12">
					<h3>
						<img src="img/page3/page3_06.png" alt="">
						移动业务量
						<span>|</span>
						<small>2015.12.31</small>
					</h3>
				</div>
				<div class="col-lg-12">
					<div id="js-service-mobile-business"></div>
				</div>
			</div>
			<!--//移动业务量-->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<!--固话业务量-->
			<div class="col-lg-6 component-6 service-voice-business">
				<div class="col-lg-12">
					<h3>
						<img src="img/page3/page3_06.png" alt="">
						固话业务量
						<span>|</span>
						<small>2015.12.31</small>
					</h3>
				</div>
				<div class="col-lg-12">
					<div id="js-service-voice-business"></div>
				</div>
			</div>
			<!--//固话业务量-->
			<!--宽带业务量-->
			<div class="col-lg-6 component-6 service-network-business">
				<div class="col-lg-12">
					<h3>
						<img src="img/page3/page3_06.png" alt="">
						宽带业务量
						<span>|</span>
						<small>2015.12.31</small>
					</h3>
				</div>
				<div class="col-lg-12">
					<div id="js-service-network-business"></div>
				</div>
			</div>
			<!--//宽带业务量-->
		</div>
	</div>
	</div>
	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/bootstrap.min.js"></script>
	<script src="lib/echarts/echarts-all.js"></script>
	<script src="lib/requirejs/require.js"></script>
	<script src="js/page5.js"></script>
</body>

</html>